@model PERFILES.Models.Empleados
@{
    ViewBag.Title = "Modificar datos de " + @Model.Nombres;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <button class="btn btn-primary regresar-listado">
        @Html.ActionLink(linkText: "Regresar a listado", actionName: "Empleados", controllerName: "Empleados", routeValues: new { area = "" }, htmlAttributes: new { @class = "nav-link" })
    </button>
    <h2 class="header-modificar">Modificar Datos de Empleado</h2>

    <!--<form class="formulario-registro form-control" method="post"> -->
    @using (Html.BeginForm("CargarModificaciones", "Modificar", FormMethod.Post, new { onsubmit = "return confirm('Desea modificar los datos de este empleado?')" }))
    {
        <div class="formulario-modificacion">
            <div class="labels-inputs">
                <div class="formulario-labels">
                    <label for="id-empleado">ID:</label>
                    <label for="input-nombre">Nombre completo:</label>
                    <label for="input-dpi">DPI:</label>
                    <label for="fecha-nacimiento">Fecha de nacimiento:</label>
                    <label for="seleccion-genero">Género:</label>
                    <label for="fecha-ingreso">Fecha de ingreso:</label>
                    <label for="calculo-edad">Edad:</label>
                    <label for="input-direccion">Dirección:</label>
                    <label for="input-nit">NIT:</label>
                    <label for="seleccion-departamento">Departamento:</label>
                </div>
                <div class="formulario-inputs">
                    <input type="number" name="id-empleado" id="id-empleado" class="id-empleado input-group-sm" value="@Model.ID" readonly />
                    <input type="text" name="input-nombres" id="input-nombres" class="input-nombres input-group-sm" value="@Model.Nombres" required />
                    <input type="number" name="input-dpi" id="input-dpi" class="input-dpi input-group-sm" value="@Model.DPI" required />
                    <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" class="fecha-nacimiento input-group-sm" placeholder="dd/mm/yyyy" min="1950-01-01" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" required />
                    <select name="seleccion-genero" id="seleccion-genero" class="seleccion-genero form-select form-select-sm" aria-label="Default select example" required>
                        @{
                            if (@Model.Genero == "Masculino")
                            {
                                <option value="Femenino">Femenino</option>
                            }
                            else if (@Model.Genero == "Femenino")
                            {
                                <option value="Masculino">Masculino</option>
                            }
                            <option value="@Model.Genero" selected>@Model.Genero</option>
                        }
                    </select>
                    <input type="date" name="fecha-ingreso" id="fecha-ingreso" class="fecha-ingreso input-group-sm" placeholder="dd/mm/yyyy" min="1950-01-01" value="@Model.FechaIngreso.ToString("yyyy-MM-dd")" required />
                    <input type="text" name="calculo-edad" id="calculo-edad" class="calculo-edad" input-group-sm" value="@Model.Edad" readonly />
                    <input type="text" name="input-direccion" id="input-direccion" class="input-direccion input-group-sm" value="@Model.Direccion" />
                    <input type="number" name="input-nit" id="input-nit" class="input-nit input-group-sm" value="@Model.NIT" />
                    <select name="seleccion-departamento" id="seleccion-departamento" class="seleccion-departamento form-select form-select-sm" required>
                        @{
                            switch (@Model.Departamento)
                            {
                                case "Ventas":
                                    <option value="Recursos Humanos">Recursos Humanos</option>
                                    <option value="IT">IT</option>
                                    <option value="Legal">Legal</option>
                                    break;
                                case "Recursos Humanos":
                                    <option value="Ventas">Ventas</option>
                                    <option value="IT">IT</option>
                                    <option value="Legal">Legal</option>
                                    break;
                                case "IT":
                                    <option value="Ventas">Ventas</option>
                                    <option value="Recursos Humanos">Recursos Humanos</option>
                                    <option value="Legal">Legal</option>
                                    break;
                                case "Legal":
                                    <option value="Ventas">Ventas</option>
                                    <option value="Recursos Humanos">Recursos Humanos</option>
                                    <option value="IT">IT</option>
                                    break;
                            }
                        }
                        <option value="@Model.Departamento" selected>@Model.Departamento</option>
                    </select>
                </div>
            </div>
            
            <div class="boton-modificar">
                <button name="boton-post" class="btn btn-success" type="submit" value="Modificar">
                    Modificar
                </button>
            </div>
        </div>
    }
    <!--</form> -->

</main>

<script>
    /************* Cálculo automatico de edad ***************/

    var birthdateInput = document.getElementById('fecha-nacimiento');

    // Agregar EventListener para realizar calculo de edad.
    birthdateInput.addEventListener('input', calculateAge);


    function calculateAge() {
        // Extraer fecha del input.
        console.log("funcionando");
        var birthdate = new Date(birthdateInput.value);
        if (!birthdate.getTime()) {
            return; // Exit function if birthdate is invalid
        }

        // Obtener fecha actual.
        var currentDate = new Date();

        //  Calculo de dia, mes, año.
        var age = currentDate.getFullYear() - birthdate.getFullYear();
        var monthDiff = currentDate.getMonth() - birthdate.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && currentDate.getDate() < birthdate.getDate())) {
            age--;
        }

        // Actualizar el input del bloque de edad. Este es readonly.
        var ageInput = document.getElementById('calculo-edad');
        ageInput.value = age;
    }
</script>